In [4]:
from pathlib import Path
PROJECT_ROOT = Path("..").resolve()   # notebooks'tan bir üst klasör

matches_path = PROJECT_ROOT / "data" / "processed" / "matches_allyears.csv"

In [2]:
import pandas as pd
from pathlib import Path

# Notebook şu an notebooks/ klasöründe, o yüzden bir üst klasöre çıkmamız lazım
matches_path = Path("../data/processed/matches_allyears.csv")

matches = pd.read_csv(matches_path)
matches.head()

C:\Users\alper\AppData\Local\Temp\ipykernel_19068\4001752333.py:7: DtypeWarning: Columns (6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  matches = pd.read_csv(matches_path)

,date,tourney,surface,round,playerA,playerB,rankA,rankB,oddsA,oddsB,score,comment,source_file,gender,winner,playerA_norm,playerB_norm,pA_implied_fair,pB_implied_fair
0,2000-01-03,Australian Hardcourt Championships,Hard,1st Round,Dosedel S.,Ljubicic I.,63,77,NaN,NaN,6-4,Completed,allyears.csv,M,A,dosedel s.,ljubicic i.,NaN,NaN
1,2000-01-03,Australian Hardcourt Championships,Hard,1st Round,Enqvist T.,Clement A.,5,56,NaN,NaN,6-3,Completed,allyears.csv,M,A,enqvist t.,clement a.,NaN,NaN
2,2000-01-03,Australian Hardcourt Championships,Hard,1st Round,Escude N.,Baccanello P.,40,655,NaN,NaN,6-7,Completed,allyears.csv,M,A,escude n.,baccanello p.,NaN,NaN
3,2000-01-03,Australian Hardcourt Championships,Hard,1st Round,Federer R.,Knippschild J.,65,87,NaN,NaN,6-1,Completed,allyears.csv,M,A,federer r.,knippschild j.,NaN,NaN
4,2000-01-03,Australian Hardcourt Championships,Hard,1st Round,Fromberg R.,Woodbridge T.,81,198,NaN,NaN,7-6,Completed,allyears.csv,M,A,fromberg r.,woodbridge t.,NaN,NaN

In [5]:
matches.shape, matches.columns

((69346, 19),
 Index(['date', 'tourney', 'surface', 'round', 'playerA', 'playerB', 'rankA',
        'rankB', 'oddsA', 'oddsB', 'score', 'comment', 'source_file', 'gender',
        'winner', 'playerA_norm', 'playerB_norm', 'pA_implied_fair',
        'pB_implied_fair'],
       dtype='object'))

In [6]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69346 entries, 0 to 69345
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             69346 non-null  object
 1   tourney          69346 non-null  object
 2   surface          69346 non-null  object
 3   round            69346 non-null  object
 4   playerA          69346 non-null  object
 5   playerB          69346 non-null  object
 6   rankA            69324 non-null  object
 7   rankB            69229 non-null  object
 8   oddsA            60618 non-null  float64
 9   oddsB            60641 non-null  float64
 10  score            68958 non-null  object
 11  comment          69346 non-null  object
 12  source_file      69346 non-null  object
 13  gender           69346 non-null  object
 14  winner           69346 non-null  object
 15  playerA_norm     69346 non-null  object
 16  playerB_norm     69346 non-null  object
 17  pA_implied_fair  60617 non-null  float64
 18  pB_implied_fair  60617 non-null  float64
dtypes: float64(4), object(15)
memory usage: 10.1+ MB

In [7]:
matches.isna().sum().sort_values(ascending=False)

pB_implied_fair    8729
pA_implied_fair    8729
oddsA              8728
oddsB              8705
score               388
rankB               117
rankA                22
surface               0
tourney               0
date                  0
playerB               0
playerA               0
round                 0
comment               0
source_file           0
winner                0
gender                0
playerB_norm          0
playerA_norm          0
dtype: int64

In [8]:
matches["date"] = pd.to_datetime(matches["date"], errors="coerce")
matches["year"] = matches["date"].dt.year

matches["year"].value_counts().sort_index()

year
2000    2963
2001    3056
2002    2806
2003    2816
2004    2877
2005    2910
2006    2908
2007    2824
2008    2689
2009    2731
2010    2679
2011    2675
2012    2621
2013    2657
2014    2560
2015    2630
2016    2626
2017    2635
2018    2652
2019    2593
2020    1267
2021    2489
2022    2632
2023    2705
2024    2729
2025    2616
Name: count, dtype: int64

In [9]:
matches["surface"].value_counts(dropna=False)

surface
Hard      37706
Clay      22212
Grass      7734
Carpet     1694
Name: count, dtype: int64

In [10]:
matches[["oddsA", "oddsB"]].describe()

              oddsA        oddsB
count  60618.000000  60641.00000
mean       1.836872      3.48432
std        1.106526      3.46064
min        0.000000      0.00000
25%        1.250000      1.72000
50%        1.500000      2.50000
75%        2.100000      3.75000
max       34.000000    101.00000

In [11]:
matches[["rankA", "rankB"]].describe()

          rankA    rankB
count   69324.0  69229.0
unique   1381.0   2155.0
top         1.0     32.0
freq      779.0    339.0

In [13]:
clean_path = PROJECT_ROOT / "data" / "processed" / "matches_clean.csv"
matches_clean = pd.read_csv(clean_path)
matches_clean[["oddsA", "oddsB"]].describe()

              oddsA         oddsB
count  58131.000000  58131.000000
mean       1.823865      3.387796
std        1.037793      2.937465
min        1.010000      1.010000
25%        1.250000      1.720000
50%        1.500000      2.500000
75%        2.100000      3.750000
max       29.000000     34.000000

In [14]:
matches_elo_path = PROJECT_ROOT / "data" / "processed" / "matches_with_elo.csv"
matches_elo = pd.read_csv(matches_elo_path)

matches_elo[["eloA", "eloB", "elo_surfaceA", "elo_surfaceB"]].describe()

               eloA          eloB  elo_surfaceA  elo_surfaceB
count  58131.000000  58131.000000  58131.000000  58131.000000
mean    1692.420786   1616.527031   1622.392061   1565.173961
std      178.126452    139.888081    145.217847    107.836897
min     1280.864458   1285.619055   1318.364095   1285.283162
25%     1558.358954   1508.445903   1511.617515   1493.204747
50%     1662.335053   1591.654730   1586.613696   1531.467952
75%     1793.786020   1692.760065   1693.807518   1615.899990
max     2417.712923   2421.127161   2287.652323   2289.884438

In [15]:
matches_form_path = PROJECT_ROOT / "data" / "processed" / "matches_with_elo_form.csv"
matches_form = pd.read_csv(matches_form_path)

matches_form[[
    "form_winrateA_5", "form_winrateB_5",
    "form_winrateA_10", "form_winrateB_10",
    "days_since_lastA", "days_since_lastB",
    "matches_last30A", "matches_last30B"
]].describe()

,form_winrateA_5,form_winrateB_5,form_winrateA_10,form_winrateB_10,days_since_lastA,days_since_lastB,matches_last30A,matches_last30B
count,57735.000000,57041.000000,57735.000000,57041.000000,57735.000000,57041.000000,58131.000000,58131.000000
mean,0.536249,0.476570,0.540147,0.473554,16.835195,26.265318,4.200960,3.509109
std,0.241477,0.242921,0.200850,0.198954,67.026752,109.730081,2.984623,2.794750
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.400000,0.400000,0.400000,0.300000,2.000000,2.000000,2.000000,1.000000
50%,0.600000,0.400000,0.500000,0.500000,4.000000,3.000000,4.000000,3.000000
75%,0.800000,0.600000,0.700000,0.600000,12.000000,13.000000,6.000000,5.000000
max,1.000000,1.000000,1.000000,1.000000,3080.000000,6210.000000,21.000000,18.000000